node_modules 

venv
__pycache__/
*.pyc
.DS_Store
.env
.idea/
.vscode/
dist/
build/
*.log
*.sqlite3
coverage
*.egg-info/
*.iml
*.class
out/
*.jar
*.war
*.log

*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.lock
*.pid
*.seed
*.gz
*.zip
*.tar
*.rar
*.7z